## List Comprehensions

In [3]:
myList = [1,2,3,4,5]
[2*item for item in myList]

[2, 4, 6, 8, 10]

**List comprehensions with filters**

In [6]:
myList = list(range(100))
filteredList = [item for item in myList if item % 10 == 0]
# print out item for item in my list if it is divisible by ten 
filteredList

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [8]:
myList = list(range(100))
filteredList = [item for item in myList if item % 10 < 3]
# print out item for item in my list if it is divisible by ten 
print(filteredList)

[0, 1, 2, 10, 11, 12, 20, 21, 22, 30, 31, 32, 40, 41, 42, 50, 51, 52, 60, 61, 62, 70, 71, 72, 80, 81, 82, 90, 91, 92]

**List comprehensions with functions**

In [13]:
myString = 'My name is Carmelli Dao. I currently live in Waterloo'
myString.split('.')

['My name is Carmelli Dao', ' I currently live in Waterloo']

In [14]:
myString.split()

['My',
 'name',
 'is',
 'Carmelli',
 'Dao.',
 'I',
 'currently',
 'live',
 'in',
 'Waterloo']

In [17]:
def cleanWord(word):
  return word.replace('.','').lower()
[cleanWord(word) for word in myString.split()]

['my',
 'name',
 'is',
 'carmelli',
 'dao',
 'i',
 'currently',
 'live',
 'in',
 'waterloo']

In [20]:
[cleanWord(word) for word in myString.split() if len(cleanWord(word)) <3 ]

['my', 'is', 'i', 'in']

**Nested list comprehensions**

In [22]:
[[cleanWord(word) for word in sentence.split()] for sentence in myString.split('.')]

[['my', 'name', 'is', 'carmelli', 'dao'],
 ['i', 'currently', 'live', 'in', 'waterloo']]